// configurations
const int64_t channel_id = -1000000000000; // @WouldURather_CN
const int64_t admin_channel_id = -1000000000000; // 预印本频道
std::string bot_token = "1000000000:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA";
